<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1 align="center">WELCOME!</h1>
	
	<div style="text-align:center">
			<button onclick="location.href='/employee/list'" style="width:150px; height:150px; font-size:20px; border-radius:50%; background-color:tomato; color:white;">모든 사원 조회</button>
			<button onclick="location.href='/employee/search'" style="width:150px; height:150px; font-size:20px; border-radius:50%; background-color:orange; color:white;">이름으로 사원 조회</button>
			<button onclick="location.href='/employee/date'" style="width:150px; height:150px; font-size:20px; border-radius:50%; background-color:yellow; color:black;">XX년도 이후 입사</button>
			<button onclick="location.href='/employee/regist'" style="width:150px; height:150px; font-size:20px; border-radius:50%; background-color:lightpink; color:black;">새로운 사원</button>	
	</div>

	
	
</body>
</html>